@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    width: 100%;
    margin-top: 1.2rem;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;
    width: 100%;
    margin: 0 auto;

    @include m.desktop {
        width: 50rem;
    }

    label {
        margin-left: 1rem;
        padding-bottom: 0.8rem;
        color: v.$gris;
        font-weight: v.$bold;
    }

    input {
        height: 4.8rem;
        width: 100%;
        padding: calc(v.$separacion / 5);
        border: none;
        border-radius: 1rem;
        margin-bottom: 2.4rem;
        background-color: v.$darkLight;
        color: v.$blanco;
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);

        &:disabled {
            background-color: lighten(v.$negro, 30%);
            color: v.$blanco;
            cursor: not-allowed;
        }
    }
}

.boton-centrado {
    .boton {
        width: 100%;
        margin: 1.2rem 0;

        @include m.desktop {
            width: 50rem;
        }
    }
}