// Fuentes
$fuente_principal: 'Inter', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$topBlue: #3969FC;
$bottomBlue: #2A49FF;
$azul: #0d9df3;
$rojo: #cb0000;
$redLight: #d9534f;
$verde:#329f00;
$negro: #1a1b15;
$dark: #16191C;
$darkLight: #1E2126;

$blanco: #FFFFFF;
$gris: #e1e1e1;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900