@use 'base/variables' as v;
@use 'base/mixins' as m;

.listado-servicios {
    display: grid;
    gap: 2rem;
    @include m.tablet {
        @include m.grid(2, 2rem);
    }
    .servicio {
        background-color: v.$darkLight;
        padding: 1.6rem;
        border-radius: 1rem;
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
        transition-property: transform;
        transition-duration: 300ms;
        text-align: left;

        &.seleccionado {
            background: linear-gradient(180deg, v.$topBlue 0%, v.$bottomBlue 100%);
            p {
                color: v.$blanco;
            }
        }

        &:hover {
            transform: scale(1.1);
        }

        p{
            color: v.$gris;
            font-weight: v.$bold;
            margin: 0 0 calc(v.$separacion / 4) 0;
        }

        .precio-servicio {
            color: v.$gris;
            font-weight: v.$regular;
            margin: 0;
        }
    }
}